@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Pragati+Narrow:wght@400;700&family=Protest+Riot&display=swap');
*{
  padding: 0;
  margin: 0;
}

.reunion{
  background-image: url("../images/reunion.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 35em;
}
h1{
  font-family: "Protest Riot", sans-serif;
}
p {
  font-family: "Orelega One", serif;
  font-style: normal;
}
.line-height-username1 {
  line-height: 3.75rem;
}